<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="font-inter">
    <main id="main-content" class="relative left-60 w-[calc(100%-15rem)] h-screen 
        p-6 break-words phone:left-0 phone:w-full bg-slate-300">
        <div id="content-wrapper" class="">
            <!-- Content goes here -->
            <div class="w-full text-center mb-8">
                <p class="text-lg"> Welcome to your Inventory</p>
            </div>
            <div class="flex flex-row w-full justify-center space-x-10">
                <div class="w-[<%(1/products.length)%>] p-1 bg-neutral-700 rounded-lg text-zinc-100 hover:bg-zinc-100 hover:text-neutral-700 text-center">
                    <label for="products">Select a Row associated to your product:</label>
                    <select id="products" onchange="fetchProducts(event, this.value, '<%= inventory %>')" class="bg-neutral-700 rounded-lg text-zinc-100 hover:bg-zinc-100 hover:text-neutral-700">
                        <% products.forEach(function(product) { %>
                            <option value="<%= product %>" >
                                <%= product %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>
            <div id="products" class="flex flex-col items-center justify-center">
                <ul id="products-list" class="flex flex-col justify-center w-3/12 mx-auto items-center gap-y-3 mt-5">
                </ul>
                <form id="input-bar-add-retire" class="justify-center text-center space-x-3 space-y-3 hidden items-center">
                </form>
            </div>
            <div id="transactions" class="flex flex-col justify-center items-center content-center gap-y-4 my-5">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded hidden mx-auto p-5" id="close-lists">
                    Close Inventory
                </button>
            </div>
            <div id="window" class="fixed flex flex-col justify-center bottom-32 right-0 text-center gap-y-4 my-5 left-40">
                <div class="w-full text-center flex items-center justify-center" id="window-child">
                    <div class="p-2 bg-blue-400 rounded-lg">
                        <p>
                            Current window position:
                        </p>
                        <button id="position-window" class="p-2" onclick="transactionActual(event, '<%= inventory %>')">
                            <%=window %>
                        </button>
                    </div>
                </div>
            </div>
            <div id="movements" class="flex flex-row justify-center items-end gap-y-4 my-5 content-end fixed bottom-12 left-40 right-0">
                <form id="movement-buttons">
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded mx-auto p-5" id="left">
                        Move window left
                    </button>
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded mx-auto p-5" id="right">
                        Move window right
                    </button>
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded mx-auto p-5" id="up">
                        Move window up
                    </button>
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded mx-auto p-5" id="down">
                        Move window down
                    </button>
                </form>
            </div>
        </div>
    </main>
    <script defer src="/scripts/productsList.js"></script>
    <script defer src="/scripts/movements.js"></script>
</body>
</html>